
main {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f8f8f8;
    width: 60%;
    border: black solid 2px;
    border-radius: 5px;
}



footer .social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}


.social-icon {
    width: 35px;
    height: 35px;
}

#freepik {
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}