body{
    max-width: 57%;
    margin: 0 auto;
    font-size: 30px;
    font-family: "cinzel", "times new roman", serif;
    border: solid 1px #000000;
    padding: 100px 250px 100px 250px;
}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;

    
}

h4{
    font-weight: bold;
    letter-spacing: 2.3px;
}

#para1{
    margin-top: 60px;
}

h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 0%;
    color: #4088e7;
}

hr{
    margin-top: 0px;
}

li{
    margin-top: 30px;
}

img{
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    width: 250px;
    height: 150px;
}

