body{
    max-width: 57%;
    margin: 0 auto;
    font-size: 30px;
    font-family: "cinzel", "times new roman", serif;
}

h1{
    text-align: center;
    font-size: 50px;

    
}

h1, h4{
    font-weight: 548;
    letter-spacing: 2.3px;
}

#para1{
    margin-top: 60px;
}

h4{
    text-align: center;
    font-size: 23px;
    margin-bottom: 5px;
    color: #4088e7;
}

hr{
    margin-top: 0px;
}

li{
    margin-top: 30px;
}

img{
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    width: 200px;
    height: 100px;
}