

body {
  margin:  0 auto;
  padding: 0;
  text-align: center;
  background-color:lightgrey ;
  font-family: Arial, sans-serif;
  max-width: 1430px;
}

main{
 
  display: grid;
  grid-template-columns: 1fr;
}


h1{
  color: white;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 5px solid #ddd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
  margin: 30px;
}

header, footer {
  width: 100%;
  margin: 0;
  border: 1px solid #ccc;
  background-color: rgb(0, 110, 255);
}

footer p {
  color: white;
  padding: 2rem;
  margin: 0;
}


button {
  color:white;
  background-color:rgb(0, 110, 255) ;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

nav a {
    padding: 20px;
    color: white;
    display: none;
}


.seen a{
  display: block;
}



gallery{
  max-width: 1140px;
  margin: 0 auto;
}


dialog img{
  width: 60%;
  height: auto;
  display: block;
  margin: 20vh auto;
}

dialog{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.75);
}

.close-viewer{
  position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}






@media screen and (min-width: 700px){
  
  
  section{
    grid-template-columns: 1fr 1fr;
  }
    
}


@media screen and (min-width: 1140px){
  section{
    grid-template-columns: 1fr 1fr 1fr;
  }

  nav {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
  }

  nav.seen {
    display: flex;
  }

  nav a {
    display: inline;
    text-align: center;
  }

  button {
    display: none;
  }
}

